.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  /* background: #f9f9f9; */
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 375px) and (max-width: 767px) {
  .wrap{
  width: 375px;
  }
}

@media (min-width: 768px) {
  .wrap{
    width: 704px;
    margin-top: 68px;
    }
    .title {
      font-size: 54px;
      margin-bottom: 24px;
    }
}
