.burger {
  position: fixed;
  top: -28px;
  right: -268px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 280px;
  width: 65%;
  max-width: 218px;
  height: 94vh;
  background: #f6b83d;
  transition: transform 0.3s linear;
  padding: 20px 20px 40px 20px;
}

.active {
  top: 0;
  right: 0;
  z-index: 333;
}

.btnClose {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
}
@media (min-width: 1280px) {
  .burger {
    display: none;
  }
}