.avatar, .info {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    
}

.avatar {
    margin-bottom: 28px;
    align-items: center;
    
}
/* .wrapImg {
    border-radius: 100px;
    padding: 10px;
    width: 94px;
    height: 94px; 
    background: #fff4df;
} */

.avatar p {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #262626;
    margin: 0; 
}


.info {
    margin-bottom: 40px;  
}

.info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #2b2b2a; 
    margin: 0;
    margin-bottom: 20px;
    /* margin-right: auto; */
}

.info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info li {
    border: 1px solid #f6b83d;
    border-radius: 30px;
    /* padding: 12px 250px 12px 12px; */
    padding-left: 12px;
    width: 100%;
    max-width: 295px;
    height: 42px; 
    font-family: var(--font-family);
line-height: 129%;
letter-spacing: -0.03em;
color: #262626;
display: flex;
align-items: center;
}