.wrapFilter {
  border-radius: 30px;
  /* max-width: 335px; */
  /* может дать ширину на переломах */
  /* width: 100%; */
  height: 378px;
  background: #ffeedf;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 20px;
  margin-bottom: 20px;
}

.wrapInput,
.wrapRadio {
  display: flex;
  flex-wrap: wrap;
}

.wrapInput {
  row-gap: 10px;
  column-gap: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.1);
}

.wrapRadio {
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 20px;
}

.label {
  border-radius: 30px;
  padding: 0 12px;
  /* width: 72px; */
  height: 42px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 768px) {
  .wrapFilter {
    height: 280px;
  }
  .wrapInput {
    row-gap: 16px;
    column-gap: 16px;
    padding-bottom: 40px;
    padding: 40px 32px;
}
}