@font-face {
    font-family: 'Manrope ';
    src: local('Manrope  Semi bold'), local('Manrope--Semi-bold'),
        url('Manrope-Semibold.woff2') format('woff2'),
        url('Manrope-Semibold.woff') format('woff'),
        url('Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }