.wrapMyPet {
  border-radius: 30px;
  width: 100%;

  background: #fff;
  margin-top: 10px;
  padding: 28px 20px 20px 20px;
}

.title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

.title span {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

.wrapSex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.female,
.male,
.multiple {
  border-radius: 30px;
  padding: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.female {
  background: rgba(244, 63, 94, 0.1);
}
.femaleInput:checked + .female {
  background: #f43f5e;
}

.male {
  background: rgba(84, 173, 255, 0.1);
}
.maleInput:checked + .male {
  background: #54adff;
}
.multiple {
  background: rgba(84, 173, 255, 0.1);
}
.multipleInput:checked + .multiple {
  background: #f6b83d;
}
.wrapInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapImg {
  border-radius: 100px;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #fff4df;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 123px;
  box-sizing: border-box;
}

.img {
  border-radius: 100px;
  padding: 10px;
  width: 68px;
  height: 68px;
  margin-bottom: 16px;
  margin-left: 123px;
  object-fit: cover;
  object-position: center;
}
.iconPet {
  width: 34px;
  height: 34px;
}

.uploadWrap {
  gap: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.upload {
  border-radius: 30px;
  padding: 0 10px;
  height: 36px;
  background: #fff4df;
  gap: 5px;
  display: flex;
  align-items: center;
  border: none;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
  cursor: pointer;
}
.upload input:hover{
  background: #fbe7c1;
}


.label {
  position: relative;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  width: 100%;
}

.labelUrl,
.labelDate {
  position: relative;
  width: 50%;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 9px 0 9px 10px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}

.inputUrl {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 9px 0 9px 10px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  width: 100%;
  background: transparent;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}

.input:focus, .inputUrl:focus {
  border: 1px solid #f6b83d;
}

.inputUrl:hover, .input:hover {
  border: 1px solid #f6b83d;
}

label span {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: 10px;
  color: red;
}

.wrapTab {
  display: flex;
  align-items: center;
  margin-top: 21px;
  gap: 8px;
  margin-left: 127px;
}

.btn,
.link {
  border-radius: 30px;
  padding: 12px;
  width: 100px;
  background: rgba(38, 38, 38, 0.05);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.link {
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.btn {
  height: 42px;
  border: none;
  cursor: pointer;
}

.btn:hover,
.link:hover {
  background: #f6b83d;
  color: #fff;
}

.btn:active,
.link:active {
  background: #f6b83d;
  color: #fff;
}
.btn:focus,
.link:focus {
  background: #f6b83d;
  color: #fff;
}

@media (min-width: 375px) and (max-width: 767px) {
  .wrapMyPet {
    width: 295px;
  }
}
@media (min-width: 768px) {
  .wrapMyPet {
    border-radius: 60px;
    width: 704px;
    margin-top: 16px;
    padding: 40px 136px 40px 136px;
    box-sizing: border-box;
  }
  .title {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .title span {
    font-size: 16px;
    line-height: 125%;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .female,
  .male,
  .multiple {
    padding: 8px;
    width: 40px;
    height: 40px;
  }
  .wrapImg,
  .img {
    width: 86px;
    height: 86px;
    margin-bottom: 12px;
    margin-left: 173px;
  }
  .iconPet {
    width: 44px;
    height: 44px;
  }
  .inputUrl,
  .input {
    height: 42px;
    font-size: 16px;
    line-height: 125%;
    padding: 16px 16px 16px 16px;
  }
  .uploadWrap {
    margin-bottom: 18px;
  }
  .wrapInput {
    gap: 18px;
    margin-bottom: 28px;
  }
  .labelUrl {
    width: 68%;
  }
  .upload {
    padding: 0 16px;
  }
  .btn,
  .link {
    padding: 14px;
    width: 170px;
    font-size: 16px;
    line-height: 125%;
  }
  .btn {
    height: 48px;
  }
}
