.wrapTab {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tab {
  border-radius: 30px;
  padding: 12px;
  width: 123px;
  height: 42px;
  background: #fff;
  border: none;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  border: none;
}

.tab:hover {
  background: #f6b83d;
  color: #fff;
}

.tab:active {
  background: #f6b83d;
  color: #fff;
}
