.wrapNotices {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 768px) {
  .wrapNotices {
    margin-top: 68px;
  }
  .title {
    font-size: 54px;
    margin-bottom: 24px;
  }
}
