.wrapNews {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  margin-top: 32px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media (min-width: 768px) {
  .wrapNews {
    margin-top: 68px;
  }
  .title {
    font-size: 54px;
    margin: 0;
  }
  .wrapTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .wrapNews {
    margin: 90px 64px 80px 64px;
  }
}
