
.inputWrap {
position: relative;
margin-bottom: 26px;
width: 100%;
}

.inputWrap label{
display: block;
}

.inputWrap input {
   width: 100%;
    padding:  6px;
    border: 1px solid greenyellow;
    color: black;
}

.inputWrap span {
  display: block;
  position: absolute;
  top: 100%;
  padding-left: 6px;
  color: red;
}




