.itemFriend {
  list-style-type: none;
  /* border: 1px solid red; */
  padding: 12px 12px 0 20px;
  display: block;
  border-radius: 15px;
  /* width: 335px;
height: 184px; */
  background: #fff;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  width: 90px;
  height: 32px;
  background: #fff4df;
  margin-left: auto;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #f6b83d;
}

.textImgWrap {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: #262626;
  /* text-align: center; */
  margin: 0;
}

.img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
  max-width: 196px;
  /* внести в переломы и менее 375px */
  /* height: 70px;  */
}

.text span {
  color: rgba(38, 38, 38, 0.5);
}

.text a {
  text-decoration: none;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}
