.wrapAddPet {
    background: #f9f9f9;
    padding: 20px;
}
@media (min-width: 1280px) {
    .wrapAddPet {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 32px;
    }
}