.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.wrapText {
  background: #f6b83d;
  border-radius: 30px;
  width: 100%;
  height: 390px;
  padding: 18px 20px 50px 20px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 24px;
}

.title span {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 0;
}

.image {
  border-radius: 30px;
  width: 100%;
  height: 402px;
  background-image: url('../../assets/img/kissDog.svg');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
  .image {
    width: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 704px;
  }
  .wrapText {
    height: 496px;
    padding: 16px 32px 44px 32px;
  }
  .image {
    width: 768px;
  }
  .title {
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 32px;
  }
  .text {
    margin-left: 385px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 16px 32px;
  }
  .wrapText {
    border-radius: 60px;
  }
  .text {
    font-size: 18px;
    line-height: 122%;
  }
  .image {
    border-radius: 60px;
  }
  .textLogo {
    font-size: 28px;
  }

  .iconLogo {
    width: 23px;
    height: 23px;
  }

  .iconUserBar {
    width: 50px;
    height: 50px;
  }
  .name {
    display: block;
  }
  .burgerIcon {
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1116px;
  }
  .wrapText {
    height: 384px;
    padding: 16px 64px 32px 64px;
  }
  .image {
    width: 1240px;
  }
  .title {
    font-size: 90px;
    line-height: 97%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 73px;
    margin-top: 112px;
  }
  .text {
    text-align: justify;
  }
  .textDiv {
    width: 255px;
  }
  .titleDiv {
    width: 760px;
  }
}
