.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.wrapText {
  background: #f6b83d;
  border-radius: 30px;
  width: 100%;
  max-width: 295px;
  height: 390px;
  padding: 18px 20px 50px 20px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 24px;
}

.title span {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 0;
}

.image {
  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  width: 335px;
  height: 402px;
  background-image: url('../../assets/img/kissDog.svg');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .container {
    padding: 16px 32px;
  }
  .wrapText {
    border-radius: 60px;
    width: 640px;
    max-width: 640px;
    height: 496px;
    padding: 16px 32px 44px 32px;
  }
  .title {
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 32px;
  }
  .text {
    font-size: 18px;
    line-height: 122%;
    margin-left: 385px;
  }
  .image {
    border-radius: 60px;
    width: 704px;
    height: 496px;
    max-width: 704px;
  }
}
@media (min-width: 1280px) {
}
