.wrap404 {
  border-radius: 30px;
  width: 100%;
  height: 712px;
  background: #f6b83d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.title {
  font-weight: 800;
  font-size: 120px;
  line-height: 100%;
  color: #fff;
  margin: 0;
}

.img {
  object-fit: cover;
  object-position: center;
  border-radius: 1000px;
}

.textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 0;
}

.link {
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  border-radius: 30px;
  padding: 12px 30px;

  height: 42px;
  background: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #f6b83d;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrap404 {
    height: 712px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 300px;
  }
  .text {
    font-size: 24px;
    line-height: 117%;
  }
  .link {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1280px) {
  .wrap404 {
    height: 800px;
  }
}
