.inputSearch {
  border-radius: 30px;

  width: 100%;
  max-width: 335px;

  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.inputSearch:focus {
  border: 1px solid #f6b83d;
  color: #262626;
}

:global {
  .ant-input {
    font-family: Arial, sans-serif;
    border-color: #f6b83d;
  }
}
